
.container {
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	width: 90%;
	max-width: 900px;
	padding: 2em;
	border: 2px solid #eee;
}

.navigation {
	float:left;
	max-width: 90%;
	margin-left:400px;
	display: inline;
}

.logo {
	float: left;
	margin right:200px;
	margin-left:200px;
	margin-bottom:25px;
}

.text {
	float: left;
	max-width: 400px;
	margin-top:25px;
}

.photo {
	float: left;
	max-width:400px;
	margin-left:25px;
	margin-top:50px;
}

a {
	text-decoration:none;
	display: inline;
}

