
.container {
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	width: 90%;
	max-width: 900px;
	padding: 2em;
}

.navigation {
	float:left;
	max-width: 90%;
	width:100%;
	text-align:center;
}

.navigation li {
	display:inline-block;
}

.navigation li a{
	width:140px;
	padding:10px;
	margin:10px;
	background: #CECAAA;
}
	
ul {
	list-style:none;
	padding-left:0px;
}

a {
	text-decoration:none;
	display: inline;
}

.logo {
	float: left;
	margin-left:230px;
	margin-bottom:20px;
}

.text {
	float: left;
	max-width: 400px;
	margin-right:30px;
	margin-top:15px;
}

.photo {
	float: left;
	max-width:400px;
	margin-top:40px;
	margin-bottom:40px;
}


hr {
	width:100%;
	float: left;
}

iframe {
	float:left;
	max-width:200px
	margin-top:100px;
	margin-right:20px;
}

.directions {
	float:left;
	max-width: 340px;
}

.contact {
	float:left;
}

.about {
	float:left;
	margin-right:20px;
}
